
.container-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ajustes-fundo{
    margin-top: 50vh;
}

body{
    background-color: rgb(216, 250, 215);
    margin: 0;
    padding: 0;
}

.sumir{
    display: none;
}